/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
/* global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./clipboard-landing-page-master/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bai Jamjuree",sans-serif;
}
/* intro-section */
#intro-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
}
#intro-section-container h1{
    font-size: 50px;
    color:hsl(210, 10%, 33%);
    margin: 30px;
}
#intro-section-container  p{
    max-width: 600px;
    color: hsl(201, 11%, 66%);
}
#intro-section-container img{
    width: 130px;
}
#intro-section-container button{ 
    border: none;
    border-radius: 100px;
    color: white;
    border-radius: 35px;
    width: 200px;
    font-size: 18px;
    padding: 12px;
    box-shadow: 1px 2px 2px 1px #888;
    cursor: pointer;
    margin: 20px;
}
#download-ios{
    background-color: hsl(171, 66%, 44%);
}
#download-mac{
    background-color: hsl(233, 100%, 69%);
}
#download-ios:hover{
    transform: scale(1.05);
    transition: 0.35s ease-in-out;
}
#download-mac:hover{
    transform: scale(1.05);
    transition: 0.35s ease-in-out;
}
/* app desc section */
#app-desc-section{
height: 100vh;
}

/* media queries */

@media screen and (max-width: 430px){
    .btn-container{
       flex-direction: column;
    }
    #intro-section-container button{
        margin: 10px;
        width: 250px;
        padding: 10px;
        box-shadow: 0.5px 1px 1px 0.5px #888;
        font-size: 15px;
    }
    #intro-section-container p{
        max-width: 360px;
        margin: 20px;
    }
    #intro-section-container h1{
        font-size: 35px;
        width: 90%;
    }
}